/* Sizes */
$contentwidth: 1180px;
$contentmaxwidth: 1930px;

/* Colors */

$darkblue: #343A55;
$blue: #55668D;
$grey: #F2F2F2;
$greyseparator: #D8D8D8;
$red: #ED3F39;

/* Fonts */

$serif: "Noto Serif", serif;
$sans: "Overpass", sans-serif;